/* フォントのインポート */
@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,700&display=swap&subset=japanese');

/* ベーススタイル */
html, body {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: #393939;
    margin: 0;
    padding: 0;
    background: #f4f4f9;
}


h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 10px;
    color: #555;
}

.logotohome {
    text-align: left;
    margin: 20px 5%; /* 上下左右のマージンを設定 */
}

.logotohome img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    object-fit: cover;
}

/* ギャラリーコンテナ */
.gallery-container {
    overflow: auto; /* 横と縦の両方向にスクロールを許可 */
    padding: 0 2%; /* 左右にパディングを追加（左寄りに調整） */
    margin: 0; /* マージンをリセット */
    max-height: 500px; /* 高さを制限して縦スクロールを有効にする */
    display: flex; /* ギャラリーコンテナをフレックスボックスに */
    align-items: center; /* アイテムを中央に揃える */
    background: #fff; /* 背景を白に設定 */
}

/* タイトルと写真を横に並べるための設定 */
.row {
    display: flex; /* 横に並べるためにフレックスボックスを使用 */
    align-items: center; /* アイテムを中央に揃える */
    background: #fff; /* 背景を白に設定 */
    padding: 10px; /* 内部パディングを追加（調整可能） */
}

/* タイトル部分のスタイル */
.XBPclass {
    font-size: 2em; /* テキストサイズを調整 */
    font-weight: bold;
    color: #393939;
    margin: 0 20px; /* 右側にマージンを追加して写真と離れるようにする */
    padding: 0; /* パディングをリセット */
    display: flex; /* フレックスボックスで配置 */
    align-items: center; /* 縦方向に中央揃え */
    justify-content: center; /* 横方向に中央揃え */
    border-right: 3px solid #393939; /* 縦線を追加 */
    height: 7cm; /* 縦線の高さを7センチに設定 */
    box-sizing: border-box; /* ボックスサイズを調整 */
    text-align: center; /* テキストを中央に寄せる */
    line-height: 1; /* 行間を調整 */
}

/* 写真部分のスタイル */
.col-3 {
    flex: 0 0 auto; /* 要素の幅を自動調整する */
    width: 30%; /* 各アイテムの幅を設定（4アイテム並べるために20%に変更） */
    padding: 30px;
    box-sizing: border-box; /* パディングやボーダーのサイズを含める */
    text-align: center;
    background: #fff;
    padding: 20px; /* 写真間のスペースを増やすためのパディング */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 0 15px; /* 写真同士のスペースを設定 */
}


.col-3:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.col-3 img {
    width: auto;
    height: auto; /* 写真の高さを7センチに設定 */
    object-fit: cover;
    max-height: 7cm;
    
}

.col-3 dt {
    font-size: 1.15em;
    font-weight: bold;
    color: #fff;
    background-color: #393939;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em; /* サイズを調整 */
    text-align: center; /* 中央揃えにする場合 */
    color: #ffffff; /* 必要に応じて色を設定 */
    margin: 20px 0; /* 上下のマージンを調整 */
    margin-bottom: 0; /* h1の下部マージンを削除 */
    line-height: 1; /* 行間を狭く設定（必要に応じて調整） */
}

.subtitle {
    display: block; /* ブロック要素にして、h1の下に配置 */
    font-size: 1.2em; /* フォントサイズの調整 */
    color: #ffffff; /* テキストカラーの設定 */
    text-align: center; /* 中央揃え */
    margin-top: 0px; /* h1との間に余白を追加 */
    margin-bottom: 10px; /* 下部のマージンを設定 */
}
#header {
    position: relative;
    height: 300px; /* 適切な高さを設定してください */
    text-align: center; /* 中央揃え */
    overflow: hidden;
    padding-top: 40px; /* ロゴが上部に配置されるようにスペースを確保 */
  }
  
  
  .background-image {
    background-image: url('../images/浜辺.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  #slogan {
    color: white; /* テキストの色を白にする例。背景によって変更してください */
    text-align: center;
    padding: 20px;
    position: relative;
  }
  .header.img {
    position: absolute;
    top: 10px; /* 上からの距離 */
    left: 10px; /* 左からの距離 */
    z-index: 1; /* ロゴが他の要素より上に表示されるようにします */
  }
